.alarm {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  &-text {
    font-size: 32px;
    color: rgb(59, 59, 59);
    text-align: center;
  }
  &-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    &__setButton {
      margin-left: 8px;
    }
  }
  &-set {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    &__message {
      padding: 14px 12px;
      font-size: 18px;
    }
  }
  &-reset {
    display: flex;
    justify-content: center;
  }
}
