.button {
  background-color: rgb(74, 114, 201);
  outline: none;
  border: 0;
  color: #fff;
  height: 35px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  &:disabled {
    background-color: rgb(142, 161, 202);
    cursor: default;
  }
}
